<h2>Category Model</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category[:id] %>
      </td>
      <td>
        <%= category[:name] %>
      </td>

      <td>
        <!-- show flow -->
        <a href="/categories/<%= category[:id] %>">View</a>
        <a href="/categories/<%= category[:id] %>>/edit">Edit</a>

        <form action ="/categories/<%= category[:id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">

        </form>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
