<h2> each user page </h2>

<h3>
  This user is <%= @user[:name] %>
</h3>

<p>
  USER ID: <%= @user[:id] %>
</p>

<p>
  EMAIL: <%= @user[:email] %>
</p>

<p>
  ADDRESS: <%= @user[:address] %>
</p>

<p>
  PASSWORD: <%= @user[:password] %>
</p>

<p>
  CC_NUMBER: <%= @user[:cc_number] %>
</p>

<p>
  DATE JOINED: <%= @user[:date_joined] %>
</p>
