<h2> each user page </h2>

<h3>
  USER: <%= @user[:name] %>
</h3>

<p>
  USER ID: <%= @user[:id] %>
</p>

<p>
  EMAIL: <%= @user[:email] %>
</p>

<p>
  ADDRESS: <%= @user[:address] %>
</p>

<!-- <p>
  PASSWORD: <%= @user[:password] %>
</p>

<p>
  CC_NUMBER: <%= @user[:cc_number] %>
</p> -->

<p>
  DATE JOINED: <%= @user[:date_joined] %>
</p>

<!-- delete flow  -->
<form action="/users/<%= @user[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
