<h2> each user page </h2>

<h3>
  This user is <%= @user[:name] %>
</h3>

<p>
  The id for this user is <%= @user[:id] %>
</p>

<p>
  email: <%= @user[:email] %>
</p>

<p>
  address: <%= @user[:address] %>
</p>

<p>
  password: <%= @user[:password] %>
</p>

<p>
  cc_number: <%= @user[:cc_number] %>
</p>

<p>
  date_joined: <%= @user[:date_joined] %>
</p>
