<h2>Product Model</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>brand_id</th>
      <th>category_id</th>
      <th>price</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= product[:id] %>
      </td>
      <td>
        <%= product[:name] %>
      </td>
      <td>
        <%= product[:brand_id] %>
      </td>
      <td>
        <%= product[:category_id] %>
      </td>
      <td>
        <%= product[:price] %>
      </td>

      <td>
        <!-- show flow -->
        <a href="/products/<%= product[:id] %>">View</a>
        <a href="/products/<%= product[:id] %>>/edit">Edit</a>

        <form action ="/products/<%= product[:id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">

        </form>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
