
<h3>
  PRODUCT: <%= @product[:name] %>
</h3>

<p>
  PRODUCT ID: <%= @product[:id] %>
</p>

<p>
  CATEGORY ID: <%= @product[:category_id] %>
</p>

<p>
  BRAND ID: <%= @product[:brand_id] %>
</p>

<p>
  PRICE: <%= @product[:price] %>
</p>

<!-- delete flow  -->
<form action="/products/<%= @product[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
